.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  align-items: center;
  position: relative;
  display: flex;
  /* выше установили ограничения для секции */
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(/images/logo_place_header.svg);
  width: 183px;
  height: 32px;
  z-index: 1;
}

.header__title {
  display: flex;
  position: absolute;
  left: 64px;
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  margin: 0;
  z-index: 1;
}

.header__subtitle {
  display: block;
  position: absolute;
  width: 388px;
  bottom: 30px;
  left: 64px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  margin: 0;
  z-index: 1;
}

.header__link {
  color:#2f80ed;
}

.header__main-illustration {
  position: absolute;
  background-image: url(/images/header-image.png);
  width: 765px;
  height: 608px;
  background-size: cover;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  top: 64px;
  right: 0;
  z-index: 0;
}

.description {
  margin-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.two-columns__brief {
  width: 175px;
  color:#2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph:first-of-type {
  margin-top: 0;
}

.two-columns__paragraph {
  margin: 30px;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  margin-top: 100px;
}

.section-title {
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 20px 0 0;
}

.table {
  width: 1100px;
  display: flex;
  margin: 0 auto 100px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

.feynman {
  height: 790px;
  background-color: #f2f2f2;
  background-image: url(/images/feynman.png);
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.feynman__title {
  text-align: center;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin: 0 auto 0;
  padding-top: 100px;
}

.feynman__subtitle {
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 70px auto 0;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  color:#2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
